/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather			základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/

:root {
	--bila: #ffffff;
	--svetla: #f5f5f5;
	--seda: #cccccc;
	--tmava: #636e72;
	--modra: #629fe0;
	--cerna: #000000;
}

/* .border {
	border: 1px solid red;
} */

body {
	margin: 0;
	padding: 0;
	background-color: var(--svetla);
	font-size: 16px; /*16px*/
	line-height: 1.6;
	font-family: 'Merriweather', serif;
}

.obsah {
	background-color: var(--bila);
	padding: 0;
}

header, .obsah, footer {
	margin: 0 auto;
	max-width: 540px; /*540px*/
	overflow: auto;
}

@media screen and (min-width: 541px) {
	header, .obsah, footer {
		max-width: 960px; /*960px*/
	}
}

@media screen and (min-width: 960px) {
	header {
		max-width: 100%;
		z-index: -1;
	}
}

@media screen and (min-width: 960px) {
	.obsah {
		max-width: 960px; /*960px*/
		box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.1);
		margin-top: -60px; /*-60px*/
		z-index: 1;
	}
}

header {
	text-align: center;
	color: var(--bila);
	background-color: var(--cerna);
	background-image: url(images/island-hlavicka.jpg);
	background-size: cover;
	padding: 35px; /*35px*/
	position: relative;
}

header::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text {
	position: relative;
}

@media screen and (min-width: 960px) {
	.text {
		max-width: 650px; /*650px*/
		margin-left: auto;
		margin-right: auto;
		padding: 50px 0; /*50px 0*/
	}
}

.autor {
	color: rgba(255, 255, 255, 0.7);
}

.autor::before {
	content: "";
	display: block;
	width: 70px; /*70px*/
	height: 2px; /*2px*/
	background-color: rgba(255, 255, 255, 0.7);
	opacity: 0.7;
	margin: 0 auto;
	margin-bottom: 15px; /*15px*/
}

h1, h2 {
	font-family: 'Raleway', serif;
}

h1 {
	font-size: 50px; /*50px*/
	margin: 0;
	letter-spacing: 1px; /*1px*/
}

h2 {
	letter-spacing: 0.5px; /*0.5px*/
}

@media screen and (min-width: 960px) {
	h1 {
		font-size: 90px; /*90px*/
		letter-spacing: 6px; /*6px*/
	}
}

@media screen and (min-width: 960px) {
	h2 {
		font-size: 36px; /*36px*/
		letter-spacing: 1px; /*1px*/
	}
}

h2::after {
	content: "";
	display: block;
	width: 70px; /*70px*/
	height: 4px; /*4px*/
	background-color: var(--modra);
	margin-left: -20px; /*-20px*/
	margin-top: 20px; /*20px*/
}

nav ul {
	list-style-type: none;
	margin: 20px 0; /*20px 0*/
	padding: 0 30px; /*0 30px*/
}

@media screen and (min-width: 541px) {
	nav ul {
		display: flex;
		margin: 30px 0; /*30px 0*/
	}
}

@media screen and (min-width: 960px) {
	nav ul {
		display: block;
		margin: 20px 0; /*20px 0*/
		padding: 0 40px; /*0 40px*/
	}
}

nav ul li {
	font-family: 'Raleway', serif;
	font-size: 12px; /*12px*/
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0; /*10px 0*/
	border-bottom: 1px solid #f6f6f6;
}

@media screen and (min-width: 541px) {
	nav ul li {
		flex: 0 0 25%;
		border-top: 1px solid #f6f6f6;
	}
}

@media screen and (min-width: 960px) {
	nav ul li {
		border-top: 0;
		text-align: left;
	}
}

@media screen and (min-width: 541px) {
	li + li {
		border-left: 1px solid #f6f6f6;
	}
}

@media screen and (min-width: 960px) {
	li + li {
		border-left: 0;
	}
}

nav a {
	text-decoration: none;
	color: var(--seda);
}

nav a:hover {
	color: var(--tmava);
}

/* OBRÁZKY START */

.meta, .photo__caption {
	color: var(--seda);
	font-size: 12px;
	text-align: center;
	margin: 0;
}

.meta a, .photo__caption a {
	color: var(--seda);
}

@media screen and (min-width: 541px) {
	.meta a, .photo__caption a {
		color: var(--bila);
	}
}

.photo {
	margin-top: 40px; /*40px*/
	position: relative;
}

.photo__image {
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 541px) {
	.photo {
		margin-top: 0;
		display: grid;
	}

	.photo__image {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.photo__caption {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		align-self: flex-end;
		text-align: right;
		padding: 15px;
	}
}

/* OBRÁZKY END */

/* GALERIE START */

.foto {
	margin: 5px 0; /*5px 0*/
}

@media screen and (min-width: 541px) {
	.foto {
		margin: 0;
		padding: 0;
	}
}

.foto img {
	width: 100%;
}

@media screen and (min-width: 541px) {
	.foto img {
		display: block;
	}
}

@media screen and (min-width: 541px) {
	.galerie {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 541px) {
	.galerie-layout {
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 541px) {
	.foto {
		flex: 0 0 50%;
	}
}

@media screen and (min-width: 960px) {
	.foto {
		flex: 1 0 calc(100% / 3);
	}
}

@media screen and (min-width: 541px) {
	.foto .meta {
		display: none;
	}
}

/* GALERIE END */

.section-inner {
	padding: 0 20px; /*0 20px*/
}

figure {
	margin: 0;
}

figcaption {
	padding: 0;
}

.foto p::first-line {
	font-weight: bold;
}

footer {
	margin: 0 auto;
	color: var(--tmava);
	font-size: 10px; /*10px*/
	background-image: linear-gradient(to bottom, var(--seda) 0%, var(--svetla) 100%);
	padding: 20px; /*20px*/
}

@media screen and (min-width: 960px) {
	footer {
		max-width: 960px; /*960px*/
		font-size: 16px; /*16px*/
		background-image: none;
		padding: 20px 20px 20px 0; /*20px 20px 20px 0*/
	}
}

footer a {
	color: var(--tmava);
	text-decoration: none;
}

@media screen and (min-width: 960px) {
	.obsah {
		display: grid;
		grid-template-columns: [leva] 2fr [stred-start] 3fr [stred-end] 2fr [prava];
	}

	nav {
		grid-column: leva;
		}

	.right {
		grid-column: stred-start / prava;
	}

	.photo {
		grid-column: leva / prava;
	}

	.galerie, .galerie-layout {
		grid-column: leva / prava;
	}
	
	.left {
		grid-column: leva / stred-end;
	}
}